body {
    background-color: #d1d8e0;
}

a{
    text-decoration: none;
    margin: 5px;
}

.btn {
    background-color: #4b6584;
    color: white;
    font-weight: bold;
    margin: 5px;
}

.btn:hover {
    background-color: #a5b1c2;
}

label{
    color: #4b6584;
}

input::placeholder{
    text-align: center;
    color: #4b6584;
}

#card{
    width: 20rem;
    border-radius: 20px;
}

.main{
    padding-top: 3em !important;
}